.modo-escuro-cards{
    border: 1px solid #ffffff0d;
}
.modo-escuro-cards p{
    color: #9f9f9f;
}
.modo-escuro-cards h4{
    color: #ffffff;
}
.modo-claro-cards p{
    color: #32333c;
}
.modo-claro-cards h4{
    color: #32333a;
}
.modo-claro-cards{
    border: 1px solid #edecec;
}
#cards{
    width: 33%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 70px 30px;
}
#cards:hover{
    background-color: #feb633;
    transition: all 1s;
}
#cards p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    
}
#cards h4{
    font-size: 22px;
    margin-bottom: 5px;
}
.paragrafo1{
    margin-bottom: 5px;
}
.paragrafo2{
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    #cards {
      width: auto;
    }
}